.DS_Store
node_modules/
output/
.output
.cache/
.env
.env.local
*.env
*.log
dist/
build/
.vinxi
.autoshow/
.autoshow-browser/
new-*.*
data
docker-analysis-*.md
build-analysis
docs/solid-router-data-apis
uploads
tests/e2e/test-results.json
**/*.json