.sourceContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 1.75rem;
}

@media (max-width: 768px) {
  .sourceContainer {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
